.trendleftArrow{
  position: absolute;
  left:0px;
  top:125px;
}
.trendrightArrow{
  position: absolute;
  right:0px;
  top:125px;
}
.trackleftArrow{
  position: absolute;
  left:0px;
  top:85px;
}
.trackrightArrow{
  position: absolute;
  right:0px;
  top:85px;
}
